#airline{
	position:relative;
	transform:scale(0.4) rotate(-90deg) ;
	/*display:none;*/
	top: 2em;
	left:20em;
	animation-name: takeoff;
	animation-direction: normal;
	animation-duration: 120s;
	animation-iteration-count: 1;
	animation-delay: 5s;
    animation-fill-mode: forwards;//garder derniere position
	
}

@keyframes takeoff{
	0%{top:2em; left:20em;transform:scale(0.4) rotate(-90deg);}
	5%{top:2em; left:20em;transform:scale(0.4) rotate(-90deg);}
	40%{top:9em;left:20em;transform:scale(0.4) rotate(-90deg);}
	60%{top:15em;left:20em;transform:scale(0.4) rotate(-180deg);}
	75%{top:15em;left:0em;transform:scale(0.4) rotate(-180deg);}
	95%{top:15em;left:0em;transform:scale(0.4) rotate(0deg);}
	97%{top:15em;left:20em;transform:scale(0.4) rotate(0deg);}
	100%{position: absolute;left:100%;top:-0em;transform:scale(0.01); rotate(-45deg);}
}
